{% extends "restaurantsApp/blockPracticeBase.html" %}


{% block JPsBlockTest %}
    <h1>This is JP's test</h1>
    <h1>I wonder if we'll see this</h1>
{% endblock %}


{% block sidebar %}
    Another test
{% endblock %}
