{% extends "restaurantsApp/base.html" %}

{% block body %}
{% if restaurant %}
<div class="row">
{% for eachUhhItem in restaurant %}

    <div class="col-3 text-center justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ eachUhhItem.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ eachUhhItem.type}}</h6>
                <p class="card-text">{{ eachUhhItem.address }}</p>
                <p class="card-text">{{ eachUhhItem.rating }}</p>
                <!--<a href="#" class="card-link">Card link</a>-->
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

{% endfor %}
</div>
{% endif %}

{% endblock %}